# LISTS

In [185]:
# List is a Collection of items in an unordered way and can be replaced and changed if neccesary
# Creating a List
# Uses [] brackets
# Starts with index number '0'
# Allows duplication of data and indexed

mylist = ['python','java','numpy',3,4,5]
mylist

['python', 'java', 'numpy', 3, 4, 5]

In [186]:
# .append() method adds a num/string at the end but can add only 1 num/string at a time
mylist.append(10) 
mylist.append('pandas')
mylist

['python', 'java', 'numpy', 3, 4, 5, 10, 'pandas']

In [187]:
# .extend() method adds num/string..Can add any no. of num/string at a time
mylist.extend(['java','java'])
mylist

['python', 'java', 'numpy', 3, 4, 5, 10, 'pandas', 'java', 'java']

In [188]:
# .insert() adds a num/string at the  index number given
mylist.insert(3, 'jason') 
mylist

['python', 'java', 'numpy', 'jason', 3, 4, 5, 10, 'pandas', 'java', 'java']

In [189]:
# .index() views the index number of the num/string given
mylist.index('java')

1

In [190]:
dup = [6,9,3,4,0,1,7]
dup

[6, 9, 3, 4, 0, 1, 7]

In [191]:
# .sort() sorts the order of the list
# Here strings cannot be used for ordering
dup.sort()
dup

[0, 1, 3, 4, 6, 7, 9]

In [192]:
# .remove() removes the num/string you enter but does not returns
mylist.remove('python')
mylist

['java', 'numpy', 'jason', 3, 4, 5, 10, 'pandas', 'java', 'java']

In [193]:
# Here .pop() removes and retuens the num/string that has been popped out
mylist.pop(4)

4

In [194]:
mylist

['java', 'numpy', 'jason', 3, 5, 10, 'pandas', 'java', 'java']

In [195]:
# .reverse() reverses the order of the  list
mylist.reverse()
mylist

['java', 'java', 'pandas', 10, 5, 3, 'jason', 'numpy', 'java']

In [196]:
# .count() counts how many times the number is repeated
mylist.count('java')

3

In [197]:
# .cleaar() clears the whole list
mylist.clear()
mylist

[]

# TUPLES

In [198]:
# Tuples are similar to Lists but has some major differences
# -> They cannot be replaced and value cannot be added
# -> Has () brackets
# -> Contains only index and count methods
# Allows duplication of data and indexed

mytuple = ('james','roy',3,5,6)
mytuple

('james', 'roy', 3, 5, 6)

# SETS

In [199]:
# Sets are also similar to Lists but are unordered and unindexed
# Uses {} brackets
# Does not allows duplication of data
# Same as sets that we use in maths

A= {3,5,10,6,1,4}
A

{1, 3, 4, 5, 6, 10}

In [200]:
A.add(7) # Allows a new data but not existing data
A.add(5)
A

{1, 3, 4, 5, 6, 7, 10}

In [201]:
B = {2,4,7,5,1,8}
B

{1, 2, 4, 5, 7, 8}

In [202]:
# .difference returns the numbers which does not matches with other set
print(A.difference(B))
print(B.difference(A))

{10, 3, 6}
{8, 2}

In [203]:
# .difference_update makes difference b/w A and B and updates it in 'A' but does not makes any changes in 'B'
print(A.difference_update(B))
print(A)
print(B)

None
{3, 6, 10}
{1, 2, 4, 5, 7, 8}

In [204]:
# .discard removes an specified element from the set
A.discard(10)
A

{3, 6}

In [205]:
A

{3, 6}

In [207]:
B

{1, 2, 4, 5, 7, 8}

In [209]:
A.add(2) # Added 3 elements
A.add(5) 
A.add(8)

In [210]:
A

{2, 3, 5, 6, 8}

In [211]:
B

{1, 2, 4, 5, 7, 8}

In [212]:
A.intersection(B)

{2, 5, 8}

In [213]:
# Selects elements which matches in both the sets and updates in the main set
A.intersection_update(B)

In [214]:
A

{2, 5, 8}

In [215]:
B

{1, 2, 4, 5, 7, 8}

In [216]:
# Selects elements which matches in both the sets and updates in the main set
B.intersection_update(A)

In [217]:
B

{2, 5, 8}

In [218]:
A

{2, 5, 8}

In [ ]:
A.